<body>
    <main>
    <!-- Sidebar Content (Aside) -->
    <aside>
        <h3>Related Links</h3>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>
    </aside>

    <!-- Main Section Content -->
    <section>
        <article>

 <!--directives-->
<!-- change in behaviour, appearence and layout
 1.component 
 2.structural
 3.attribute-->


 <!--structural -->
<p>{{title}}</p>
<ul>
    <li *ngFor="let m of movies">
        {{m}}
    </li>   
</ul>
 <br>
<div >
    <div>
        {{value}}
    </div>
    <div >
        <table>
            <thead>
                <th>s.no</th>
                <th>name</th>
                <th> age</th>
                
            </thead>
        <tbody >
            <tr
           [ngClass]='{"bg-success":e}'
                *ngFor="let m of s; let  i=index; let o=odd; let e=even">
               <td>{{i+1}}</td>
              <td> {{m.name}}</td>
               <td>{{m.age}}</td>

            </tr>
                      </tbody>
        </table>
    </div>
</div> 



</article>
    </section>

</main>
</body>